.intro{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3em 2em;
}

.intro__img {
    box-shadow: var(--bs);
    max-width: 250px;
}

.section__subtitle--intro {
    display: inline-block;
}

@media (min-width: 600px) {
    .intro {
        margin: 0 auto;
        width: min-content;
        display: grid;
        grid-column-gap: 1em;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img {
        grid-area: img;
        max-width: 300px;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}

@media(min-width: 1400px){
    .intro__img{
        max-width: 400px;
    }
}