header {
    padding: 1em;
}

.header-logo {
    max-width: 75px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
    margin: 0 auto;
}

nav a {
    color: var(--clr-dark);
    font-weight: var(--fw-bold);
    text-decoration: none;
}

nav a:hover {
    color: var(--clr-accent);
    text-shadow: var(--bs);
}

@media screen and (min-width:750px) {
    nav a {
        font-size: var(--fs-h3);
    }

    .header-logo {
        max-width: 150px
    }
}